<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio</h1>
    <p class="lead text-muted">Welcome to my portfolio. Here you can find few of my favorite projects that I have worked on in the past.</p>
    <p>
      <%= link_to "Find Out More About Me", about_path, class: 'btn btn-primary' %>
      <%= link_to "Check Out My Blog", blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>