<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>
    <div class="row">
    <div class="col-md-4">
      <%= image_tag "smallavatar.jpg", width: 300, alt: "profile image", class: "profile-img" %>
    </div>
    <div class="col-md-8">
      <p>Hello, I'm Tyler and I'm a developer. </p>

      <p>Programming, and development in general, has always been my passion. From my first robotics class in the seventh grade to now ten years later, I have pushed my understanding of the technolgical world and loved every minute of it. Except for that one time in college that I spent 12 solid hours in the university computer lab without making any progress on my program...but that's a story for another day. </p>

      <p>I am capable of programming in primarily Ruby, followed by C++, JavaScript, HTML/CSS, and bits and pieces of several other languages. I have also worked with several frameworks such as Rails and AngularJS 2 to create some pretty incredible online platforms.</p>
      <p>
        When I develop for others, I make it my priority and my mission to keep the process as involved as possible. I believe in a transparent experience where the client is fully aware and informed at all times. By following this simple principle, the end result is the right product, delivered on time, and on budget.
      </p>
    </div>


    </div>
  </div>
</div>



