<div class="app-card-container">
  <div class="card">
    <div class="row">
      <div class="col-md-4">
        <p>
          <h1>Let's team up.</h1>
          <h5>Two Heads are Better than One.</h5>
          <hr>
        </p>
        <p><%=fa_icon "phone"%><%= number_to_phone "2085231806"%></p>
        <p><a href="mailto:tylerstephens814@gmail.com?subject=Portfolio Contact" "email me"><%=fa_icon "send"%>  Email me</a></p>
      </div>

      <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3044.927736024778!2d-111.66496138470954!3d40.25513727938427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d909f76087dad%3A0x171b4415c1082476!2s1555+Freedom+Blvd+200+W%2C+Provo%2C+UT+84604!5e0!3m2!1sen!2sus!4v1508028065675" width="600" style="float: right;" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>