<div class="inner cover">
  <h1 class="cover-heading">Welcome Home.</h1>
  <p class="lead">Development forms a large part of our busy lives. When it comes to getting your web needs set up in the best way possible...</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



 

