<div class="inner cover container">
  <div class="card main-card">
    <h1 class="cover-heading">Welcome to my online home.</h1> 
    <div class="row">
      <div class="col-lg-3">
        <%= image_tag("monitor 2.svg")  %>
      </div>

      <div class="col-lg-9">
        <p class="lead intro">The right developer is a hard thing to find. Luckily, you've made it here, and together, we'll make dreams come true.</p>
      </div>

      <%= link_to "About Me", about_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>



 

