// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body
{
  margin: 30px;
  font-family: Verdana, sans-serif;
  background-image: url('http://2.bp.blogspot.com/-bj1_grGf7_Q/Uj73xuJ7iaI/AAAAAAAAF2c/HGqX5aUOVjQ/s1600/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
  background-attachment: fixed;
}

h1 {
  background-color: rgba(50,50,125,0.6);
  color: white ;
  padding: 10px;
}

img {
  border: 2px black solid;
}

a:hover {
  color: white;
}
